{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, soluta natus libero
        cum quia blanditiis aspernatur maiores dolores sequi, laborum modi adipisci asperiores
        cupiditate tempora velit repellendus officiis nam sed!
    </p>
{{end}}